@charset "UTF-8";
header {
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 5; }
  header a {
    color: #fff;
    text-decoration: none;
    top: 5px;
    left: 12px; }
  header .small {
    display: none; }

.haba, .haba2 {
  margin: 8px 12px; }

.midashi {
  line-height: 1.3em; }

.text, .text2 {
  line-height: 1.5em; }

h1 {
  width: 100%;
  height: 60px;
  margin: 0;
  background: #FF6D00;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

.photo {
  position: relative; }

.topimage {
  width: 100%;
  height: auto;
  margin-top: 20px; }

.sideimage {
  width: 100%;
  height: auto; }

.imageup {
  position: absolute;
  bottom: 7px;
  right: 0; }

.center {
  display: table;
  text-align: center;
  margin: 6px auto 30px auto; }
  .center p {
    width: 50%;
    height: 54px;
    background: #FF6D00;
    color: #fff;
    border-radius: 50px;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

.day, .day2 {
  margin: 8px 0 0 12px; }

.san {
  text-align: center;
  font-size: 20px;
  clear: both; }

.hitoul {
  padding: 0;
  width: 260px;
  margin: 0 auto 50px auto;
  overflow: hidden; }
  .hitoul li {
    position: relative;
    width: 130px;
    height: 70px;
    float: left;
    list-style-type: none; }
    .hitoul li img {
      width: 50px;
      height: auto;
      float: left; }
    .hitoul li p {
      color: #FF6D00;
      width: 80px;
      height: 50px;
      margin-left: 55px; }
    .hitoul li a {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: 80%; }

.nitiden {
  list-style-type: none;
  padding: 0;
  margin: 30px 0;
  text-align: center; }
  .nitiden li {
    margin-bottom: 12px; }
  .nitiden a {
    text-decoration: none;
    color: #FF6D00; }

footer {
  padding: 0 12px;
  background: #FF6D00;
  height: 50px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

.up, .up2 {
  display: none; }

/*サイドメニューで記述すること↓*/
/* サイドオープン時にメインコンテンツを覆う部分 */
.overlay {
  content: '';
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 3; }

.overlay::after {
  visibility: hidden;
  position: fixed;
  top: 40%;
  left: 0;
  display: block;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 0);
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.side-open .overlay {
  visibility: visible;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5); }

.side-open .overlay::after {
  visibility: visible;
  color: rgba(255, 255, 255, 0.8); }

/* サイドメニュー ※リストのスタイルは省略 */
.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  padding-top: 45px;
  text-align: left;
  background: #fff;
  z-index: 1; }
  .side-menu ul {
    padding: 0; }
  .side-menu li {
    font-size: 22px;
    display: -webkit-box;
    list-style-type: none;
    -webkit-box-align: center;
    height: 60px;
    padding-left: 12px; }
    .side-menu li a {
      color: #FF6D00;
      text-decoration: none;
      display: block; }
  .side-menu .top:hover {
    background: #FF6D00; }
    .side-menu .top:hover a {
      color: #fff; }
  .side-menu .zyugyou:hover {
    background: #0070a6; }
    .side-menu .zyugyou:hover a {
      color: #fff; }
  .side-menu .tokubetu:hover {
    background: #dd3030; }
    .side-menu .tokubetu:hover a {
      color: #fff; }
  .side-menu .ivent:hover {
    background: #eeb402; }
    .side-menu .ivent:hover a {
      color: #fff; }
  .side-menu .gakka:hover {
    background: #56bf00; }
    .side-menu .gakka:hover a {
      color: #fff; }
  .side-menu .syuusyoku:hover {
    background: #55b7ff; }
    .side-menu .syuusyoku:hover a {
      color: #fff; }

/* 開閉用ボタン */
.side-menu-btn {
  position: fixed;
  top: 5px;
  right: 10px;
  cursor: pointer;
  z-index: 4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  .side-menu-btn .fa {
    font-size: 24px;
    margin: 12px 0 0 15px;
    color: #FF6D00; }

/* メインコンテンツ */
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 2; }

/* サイドメニューオープン */
.side-open .wrapper,
.side-open .overlay {
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0); }

@media screen and (min-width: 960px) {
  .sen {
    background-color: rgba(0, 0, 0, 0.26);
    width: 60%;
    height: 1px;
    margin: 0 auto 50px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  header a {
    color: #fff;
    text-decoration: none;
    position: fixed;
    top: 5px;
    left: 20%; }
  header .small {
    display: inline;
    font-size: 16px; }
  .contents {
    background: #fefefe; }
  .haba {
    margin: 0 20%; }
  .topcenter {
    text-align: center;
    margin: 0; }
  .fa {
    margin-left: 367px; }
  .text, .text2 {
    font-size: 14px; }
  .allcenter {
    width: 962px;
    margin: 0 auto; }
  .topimage {
    padding: 90px 0 0 0;
    width: 668px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto; }
  .imageup {
    display: none; }
  .up {
    display: block;
    margin: 20px 20%;
    padding-left: 12px;
    background: #56bf00;
    color: #fff;
    border-radius: 5px; }
  .up2 {
    display: block;
    margin: 20px 0;
    padding-left: 12px;
    background: #56bf00;
    color: #fff;
    border-radius: 5px; }
  .down {
    margin-top: 50px; }
  .side {
    width: 331px;
    margin-left: 100px;
    float: left; }
    .side .sideimage {
      width: 331px; }
    .side .sideimage {
      width: 331px;
      height: 180px; }
    .side .kaigyou {
      clear: both; }
    .side .haba2 {
      margin: 0; }
  .topnext {
    margin: 30px auto 50px auto; }
  .day {
    margin-left: 20%; }
  .day2 {
    margin: 0; }
  .center p:hover {
    box-shadow: none; }
  .down2 {
    margin: 30px auto 0 auto; }
  .down3 {
    margin: 50px auto 30px auto; }
  .san {
    padding-top: 50px; }
  .hitoul {
    width: 960px;
    font-size: 18px; }
    .hitoul li {
      position: relative;
      width: 240px;
      height: 120px; }
      .hitoul li img {
        width: 100px;
        height: auto; }
      .hitoul li p {
        margin: 40px 0 0 120px; }
  .nitiden {
    margin: 30px 0 30px 20%; }
    .nitiden li {
      margin: 0 20px 10px 0;
      float: left; }
  footer {
    padding: 0;
    clear: both; }
    footer p {
      margin-left: 20%; }
  .side-menu-btn {
    right: 50px; }
  .side-menu {
    width: 30%; }
  .side-open .wrapper,
  .side-open .overlay {
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0); } }
